html{
    height: 100%;
}
body{
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(39deg, darkred, grey);
    color: white;
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
td{
    border: 4px solid black;
}
img{
    height:300px;
    width: 500px;
}
ul{
    font-size:20px;
}
table{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 60px;
    color: white;
}
#backButton{
    border: none;
    border-radius: 25px;
}
#backButton:hover{
    background-color: darkred;
    background-attachment: fixed;
    background-repeat: no-repeat;
}