@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    height: 99vh;
    background-image: linear-gradient(39deg, darkred, grey);
    text-align: center;
    background-repeat: no-repeat;
}
h1{
    color:darkblue;
    font-size: 60px;
}
a{
    text-decoration: none;
    font-size: 60px;
    color: white;
}
#backButton{
    border-radius: 25px;
}
#backButton:hover{
    background-color: rgb(179, 33, 33);
    background-attachment: fixed;
    background-repeat: no-repeat;
}